.feed{
    flex: 0.5; 
    overflow-y: scroll;
}
.feed::-webkit-scrollbar{
    display: none;
}
.feed{
    scrollbar-width: none; /* IE and Edge */
    -ms-overflow-style: none; /* Firefox */
}
.feed__header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--background-color);
    padding: 5px 20px;
}
.feed__header > h1{
    font-size: 20px;
    font-weight: 800px;
    text-align:right;
}
@media all and (max-width: 1145px){
    .feed{
        flex: 0.6; 
    }
}
@media all and (max-width: 960px){
    .feed{
        flex: 1; 
    }
}